<igx-grid [data]="northwindEmployees" primaryKey="employeeID" displayDensity="cosy" [allowFiltering]="true" filterMode="excelStyleFilter" class="grid">
  <igx-column header="employeeID" field="employeeID" dataType="number" [sortable]="true" title="employeeID"></igx-column>
  <igx-column header="lastName" field="lastName" dataType="string" [sortable]="true" title="lastName"></igx-column>
  <igx-column header="firstName" field="firstName" dataType="string" [sortable]="true" title="firstName"></igx-column>
  <igx-column header="title" field="title" dataType="string" [sortable]="true" title="title"></igx-column>
  <igx-column header="titleOfCourtesy" field="titleOfCourtesy" dataType="string" [sortable]="true" title="titleOfCourtesy"></igx-column>
  <igx-column header="birthDate" field="birthDate" dataType="date" [sortable]="true" title="birthDate"></igx-column>
  <igx-column header="hireDate" field="hireDate" dataType="date" [sortable]="true" title="hireDate"></igx-column>
  <igx-column header="street" field="address.street" dataType="string" [sortable]="true" title="address.street"></igx-column>
  <igx-column header="city" field="address.city" dataType="string" [sortable]="true" title="address.city"></igx-column>
  <igx-column header="region" field="address.region" dataType="string" [sortable]="true" title="address.region"></igx-column>
  <igx-column header="postalCode" field="address.postalCode" dataType="string" [sortable]="true" title="address.postalCode"></igx-column>
  <igx-column header="country" field="address.country" dataType="string" [sortable]="true" title="address.country"></igx-column>
  <igx-column header="phone" field="address.phone" dataType="string" [sortable]="true" title="address.phone"></igx-column>
  <igx-column header="notes" field="notes" dataType="string" [sortable]="true" title="notes"></igx-column>
  <igx-column header="avatarUrl" field="avatarUrl" dataType="string" [sortable]="true" title="avatarUrl"></igx-column>
</igx-grid>
<igx-grid [data]="northwindEmployees" primaryKey="employeeID" displayDensity="cosy" [allowFiltering]="true" filterMode="excelStyleFilter" class="grid">
  <igx-column header="employeeID" field="employeeID" dataType="number" [sortable]="true" [editable]="true" title="employeeID"></igx-column>
  <igx-column header="lastName" field="lastName" dataType="string" [sortable]="true" [editable]="true" title="lastName"></igx-column>
  <igx-column header="firstName" field="firstName" dataType="string" [sortable]="true" [editable]="true" title="firstName"></igx-column>
  <igx-column header="title" field="title" dataType="string" [sortable]="true" [editable]="true" title="title"></igx-column>
  <igx-column header="titleOfCourtesy" field="titleOfCourtesy" dataType="string" [sortable]="true" [editable]="true" title="titleOfCourtesy"></igx-column>
  <igx-column header="birthDate" field="birthDate" dataType="date" [sortable]="true" [editable]="true" title="birthDate"></igx-column>
  <igx-column header="hireDate" field="hireDate" dataType="date" [sortable]="true" [editable]="true" title="hireDate"></igx-column>
  <igx-column header="street" field="address.street" dataType="string" [sortable]="true" [editable]="true" title="address.street"></igx-column>
  <igx-column header="city" field="address.city" dataType="string" [sortable]="true" [editable]="true" title="address.city"></igx-column>
  <igx-column header="region" field="address.region" dataType="string" [sortable]="true" [editable]="true" title="address.region"></igx-column>
  <igx-column header="postalCode" field="address.postalCode" dataType="string" [sortable]="true" [editable]="true" title="address.postalCode"></igx-column>
  <igx-column header="country" field="address.country" dataType="string" [sortable]="true" [editable]="true" title="address.country"></igx-column>
  <igx-column header="phone" field="address.phone" dataType="string" [sortable]="true" [editable]="true" title="address.phone"></igx-column>
  <igx-column header="notes" field="notes" dataType="string" [sortable]="true" [editable]="true" title="notes"></igx-column>
  <igx-column header="avatarUrl" field="avatarUrl" dataType="string" [sortable]="true" [editable]="true" title="avatarUrl"></igx-column>
  <igx-action-strip>
    <igx-grid-pinning-actions></igx-grid-pinning-actions>
    <igx-grid-editing-actions [addRow]="true"></igx-grid-editing-actions>
  </igx-action-strip>
</igx-grid>
